<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/public/css/admin_style.css">
</head>
<body>
    <!-- admin dashboard section starts  -->
    <%- include('./partials/adminNav'); %>
    
    <section class="dashboard">

    <h1 class="heading">Home Dashboard</h1>
    <h2 class="nameheading">Hi admin, <%= id %>!!!</h2>

    <div class="box-container">

        <div class="box">
            <h3><%= rec %></h3>
            <p>recipes added</p>
            <a href="/admin/recipes" class="btn">see recipes</a>
         </div>
      
         <div class="box">
            <h3><%= user %> </h3>
            <p>users accounts</p>
            <a href="/admin/users" class="btn">see users</a>
         </div>
    
    </div>

    </section>
</body>
</html>