<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/public/css/admin_style.css">
</head>
<body>
    <!-- admin dashboard section starts  -->
    <%- include('./partials/adminNav'); %>

    <section class="recipeResults">
    
    <a href="/admin/recipes" class="back-btn">>> Back</a>
    
    <h1 class="heading">Search Results</h1>

    <!-- search filter -->
    <div class="getFilter">
        <form action="/admin/recipes/search/filter" method="post" class="filter-cont">
            <!-- dish type -->
            <div class="select-box">
                <div class="select-box__current" tabindex="1">
                  <div class="select-box__value">
                    <label class="select-box__input-text">Dish Type</label>
                    <img class="select-box__icon" src="http://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true"/>
                  </div>
                </div>
                
                  <ul class="select-box__list">
                    <li>
                      <label class="select-box__option" aria-hidden="aria-hidden">
                        <input class="select-box__input" type="radio" name="recDishInp" id="recDishInp" value="Breakfast">
                        Breakfast</label>
                    </li>
                    <li>
                      <label class="select-box__option" aria-hidden="aria-hidden">
                        <input class="select-box__input" type="radio" name="recDishInp" id="recDishInp" value="Lunch"> Lunch</label>
                    </li>
                    <li>
                      <label class="select-box__option"  aria-hidden="aria-hidden">
                          <input class="select-box__input" type="radio" name="recDishInp" id="recDishInp" value="Meryenda">
                          Meryenda
                      </label>
                    </li>
                    <li>
                      <label class="select-box__option" aria-hidden="aria-hidden">
                          <input class="select-box__input" type="radio" name="recDishInp" id="recDishInp" value="Dinner">
                          Dinner
                      </label>
                    </li>
                  </ul>
                
            </div>
           
            <!-- category -->
            <div class="select-box">
                <div class="select-box__current" tabindex="1">
                  <div class="select-box__value">
                    <label class="select-box__input-text">Category</label>
                    <img class="select-box__icon" src="http://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true"/>
                  </div>
                </div>
                <ul class="select-box__list">
                  <li>
                    <label class="select-box__option" aria-hidden="aria-hidden">
                        <input class="select-box__input" type="radio" name="recCateg" id="recCateg" value="Luzon">
                        Luzon
                    </label>
                  </li>
                  <li>
                    <label class="select-box__option" aria-hidden="aria-hidden">
                        <input class="select-box__input" type="radio" name="recCateg" id="recCateg" value="Visayan">
                        Visayas
                    </label>
                  </li>
                  <li>
                    <label class="select-box__option"  aria-hidden="aria-hidden">
                        <input class="select-box__input" type="radio" name="recCateg" id="recCateg" value="Mindanaoan">
                        Mindanao
                    </label>
                  </li>
                  <li>
                    <label class="select-box__option" aria-hidden="aria-hidden">
                        <input class="select-box__input" type="radio" name="recCateg" id="recCateg" value="Popular">
                        Popular
                    </label>
                  </li>
                </ul>
            </div>


            <!-- cooking time -->
            <div class="select-box">
                <div class="select-box__current" tabindex="1">
                  <div class="select-box__value">
                    <label class="select-box__input-text">Cooking Time</label>
                    <img class="select-box__icon" src="http://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true"/>
                  </div>
                </div>
                <ul class="select-box__list">
                  <li>
                    <label class="select-box__option" aria-hidden="aria-hidden">
                        <input class="select-box__input" type="radio"  name="recTimeInp" id="recTimeInp" value="30">
                        Less than 30 minutes
                    </label>
                  </li>
                  <li>
                    <label class="select-box__option" aria-hidden="aria-hidden">
                        <input class="select-box__input" type="radio" name="recTimeInp" id="recTimeInp" value="31">
                        Between 30 minutes to 1 hour
                    </label>
                  </li>
                  <li>
                    <label class="select-box__option"  aria-hidden="aria-hidden">
                        <input class="select-box__input" type="radio"  name="recTimeInp" id="recTimeInp" value="1 hr and 30 minutes">
                        Between 1 hour to 1 hour and 30 minutes
                    </label>
                  </li>
                  <li>
                    <label class="select-box__option" aria-hidden="aria-hidden">
                        <input class="select-box__input" type="radio"  name="recTimeInp" id="recTimeInp" value="1 hr and 31 minutes">
                        More than 1 hour and 30 minutes
                    </label>
                  </li>
                </ul>
            </div>


            <!-- preferred calorie -->
            <div class="select-box">
                <div class="select-box__current" tabindex="1">
                  <div class="select-box__value">
                    <label class="select-box__input-text">Calorie</label>
                    <img class="select-box__icon" src="http://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true"/>
                  </div>
                </div>
                <ul class="select-box__list">
                  <li>
                    <label class="select-box__option" aria-hidden="aria-hidden">
                        <input class="select-box__input" type="radio"  name="recCal" id="recCal" value="400">
                        Less than 400kCal
                    </label>
                  </li>
                  <li>
                    <label class="select-box__option" aria-hidden="aria-hidden">
                        <input class="select-box__input" type="radio"  name="recCal" id="recCal" value="800">
                        Between 401 kCal to 800 kCal
                    </label>
                  </li>
                  <li>
                    <label class="select-box__option"  aria-hidden="aria-hidden">
                        <input class="select-box__input" type="radio"  name="recCal" id="recCal" value="801">
                        Between 801 kCal to 1200 kCal
                    </label>
                  </li>
                  <li>
                    <label class="select-box__option" aria-hidden="aria-hidden">
                        <input class="select-box__input" type="radio" name="recCal" id="recCal" value="1201">
                        More than 1200 kCal
                    </label>
                  </li>
                </ul>
            </div>
            <button type="submit" class="btn-lang">
              <span class="fil-icon"></span>
              <span class="fil-btn">Filter</span></button>
        </form> 
    </div>

    <div class="box-container">
        <% if (recs.length > 0) { %>
                <table border="3">
                    <thead>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Time</th>
                        <th>Serving</th>
                        <th>Source</th>
                        <th>Video</th>
                        <th>Calories</th>
                        <th>Meal Time</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        <% let i = 0; %> 
                        <% let ingArr = []; %> 
                        <% recs.forEach(rec => { %>
                        <tr> 
                            <td>
                                <% if (rec.rec_image) { %>
                                    <img src="/images/<%= rec.rec_image%>" alt="<%= rec.rec_name %> Image" height="100">
                                <% } %>
                            </td>
                            <td><%= rec.rec_name %> </td>
                            <td><%= rec.rec_categ %></td>
                            <td>
                                <% if (rec.rec_time) { %>
                                    <%= rec.rec_time %>
                                <% } %>
                            </td>
                            <td>
                                <% if (rec.rec_serving) { %>
                                    <%= rec.rec_serving %>
                                <% } %>
                            </td>
                            <td><a href="<%= rec.rec_src %>">Source Link</a></td>
                            <td>
                                <% if (rec.rec_vid) { %>
                                    <a href="<%= rec.rec_vid %>">YouTube Link</a>
                                <% } %> 
                            </td>
                            <td>
                                <% if (rec.rec_cal) { %>
                                    <%= rec.rec_cal %>
                                <% } %>
                            </td>
                            <td><%= rec.rec_mealTime %></td>
                            <!-- actions -->
                            <td>
                                <a href="/admin/recipes/<%= rec.rec_id %>" class="recview-btn">View Recipe</a>
                                <a href="/admin/recipes/edit/<%= rec.rec_id %>" class="recedit-btn">Edit</a>
                                <a href="/admin/recipes/delete/<%= rec.rec_id %>" class="recdelete-btn">Delete</a>
                            </td>
                        </tr>
                        <%}) %>
                    </tbody>
                </table>
        <% } else { %>
            <p class="empty">No recipes found.</p>
            <% } %>
    </div>

    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

    <!-- custom js file link  -->
    <script src="js/script.js"></script>

</body>
</html>