<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo/logo-recipinoy.png" type="image/icon type">

    <!-- for slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.min.js" integrity="sha512-tWHlutFnuG0C6nQRlpvrEhE4QpkG1nn2MOUMWmUeRePl4e3Aki0VB6W1v3oLjFtd0hVOtRQ9PHpSfN6u6/QXkQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
 
    <!-- custom css file link  -->
    <link rel="stylesheet" href="/public/css/style.css">

    <!-- manifest link -->
    <link rel="manifest" href="/public/js/manifest.json">
    <!-- link apple icon -->
    <link rel="apple-touch-icon" href="/images/logo/icon-192x192.png">
    <!-- link theme -->
    <meta name="theme-color" content="#16be5c" />
    <!-- description to improve seo -->
    <meta name="description" content="ReciPinoy: Selected Filipino Cuisines Recommender Web Application">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <title>Meal Plan</title>
</head>
<body>
        <!-- loader -->
        <!-- <div class="loader">
            <img src="/images/loader.gif" alt="">
        </div> -->

   <!-- message  -->
   <% if (msg != '') { %>
    <div class="message">
        <span> <%= msg %> </span>
        <i class="fas fa-times" onclick="this.parentElement.remove();"></i>
    </div>
<% } %>   
   <!-- guest header -->
   <%- include('./partials/userNav'); %>
   <%#- include('./partials/guestNav'); %>

        <div class="userMealPlan">
            <a href="/" class="back-btn"><span class="rec-back">Home</span></a>

            <div class="sec-mp">
                <!-- header part -->
                <div class="mp-header">
                    <span class="mp-title">Meal Plan</span>
                    <!-- <p><%= title %></p> -->

                    <!-- plus button -->
                    <div class="plus-cont">
                        <div id="plus-btn" class="plus-btn"></div>
                    </div>

                    <!-- button option section -->
                    <!-- yung whole part-->
                    <div class="addfrom">

                        <!-- yung bawat option -->
                        <div class="btn-flex">
                            <div class="userAdd">
                                <!-- add recipes from saved recipe page -->
                                <button type="button" class="userBtn"> <a href="/saved" class="a-btn">Add Recipes From Save</a></button>&nbsp;
                            </div>

                             <!-- border line -->
                            <span class="mp-line"></span>

                            <!-- search recipes -->
                            <div class="userSearch">
                                <button type="button" id ="searchBut" class="userBtn">Search Recipes</button>&nbsp;
                                <div id="search" class="modal">
                                    <div class="modal-content">
                                        <span class="close">&times;</span>
                                        <div id="cont">
                                            <section class="search-form">
                                                <form method="post" action="/search">
                                                    <input type="text" name="searchInp" id="searchInp" placeholder="Search Recipes" class="box">
                                                    <button type="submit" name="search_btn" class="fas fa-search"> </button>
                                                </form>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>

                             <!-- border line -->
                            <span class="mp-line"></span>

                            <div class="userReco">
                                <!-- get recipes from get reco page -->
                                <button type="button" class="userBtn"><a href = "/recommend" class="a-btn">Get Recommendation</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- border line -->
            <span class="meal-line"></span>

            <div class="past-week">
                <form action="/mealPlan/generate" method="post">
                    <button type="submit" class="weeklybtn">
                        <!-- icon -->
                        <span class="past-btn"></span>
                        <span class="mp-back">Generate Meal Plan</span>
                    </button>
                </form>
            </div>

            <!-- week header -->
            <!--id="weekViewInp" name="weekViewInp"-->
            <div class="weekly-title">
                <div class="past-week">
                    <form action="/mealPlan/past" method="post">
                        <button type="submit" id="mealPlanPastBut" class="weeklybtn" value="<">
                            <!-- icon -->
                            <span class="past-btn"></span>
                            <span class="mp-back">Past Week</span>
                        </button>
                    </form>
                </div>

                <div class="this-week">
                    <form action="/mealPlan/current" method="post" >
                        <button type="submit" id="mealPlanCurrentBut" class="weeklybtn" value="This Week">
                            <span class="this-back">This Week</span>
                        </button>
                    </form>
                </div>

                <div class="next-week">
                    <form action="/mealPlan/next" method="post">
                        <button type="submit" id="mealPlanNextBut"class="weeklybtn" value=">">
                            <span class="mp-back">Next Week</span>
                            <!-- icon -->
                            <span class="next-btn"></span>
                        </button>
                    </form>
                </div>
            </div>

            <!-- border line -->
            <!-- <span class="meal-line"></span> -->


            <!-- bottom contents -->
            <div class="mp-bot">
                <!-- day headers: monday, tues -->
                <span class="mp-day">Monday</span>

                <!-- recipe card -->
                <div class="mp-slider owl-carousel">
                    <% if (mrecId.length > 0) { %>
                        <% for( let index = 0; index < mrecId.length; index++ ) { %>
                        <div class="mp-card">
                            <div class="card-cont">
                                <div class="mp-header">
                                    <div class="clear-icon">
                                        <a href="/mealPlan/delete/<%= mrecId[index]%>" class="clear-mp"></a>
                                        <a href="/recipes/<%= mrecId[index]%>">
                                        <img src="/images/<%= mrecImage[index]%>" alt="<%= mrecName[index] %> Image" class="box-img">
                                        </a>
                                    </div>
                                </div>

                                <div class="mp-details">
                                    <a href="/recipes/<%= mrecId[index]%>" class="mp-usr">
                                        <div class="mp-one">
                                            <div class="mp-cont">
                                                <span class="mp-categ"><%= mrecCateg[index] %></span>
                                                <p class="mp-name"><%= mrecName[index] %></p>
                                                <% if (mrecRate) { %>
                                                    <div class="mp-rate">
                                                        <% let rating = mrecRate[index]/mrecRateCount[index]; %> 
                                                        <% rating = Math.round(rating)%> 
                                                        <%= rating%>
                                                        <span class="mp-str"></span>
                                                    </div>
                                                <% } else { %>
                                                    <span class="mp-empty">This recipe hasn't been rated.</span>
                                                <% } %>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- add to grocery list button -->
                                    <div class="ing-gl-btn">
                                        <form action="/grocery-list" method="post">
                                            <input type="hidden" name="mealPlanRecId" value="<%= mrecId[index] %>">
                                            <!-- <input type="hidden" name="gList" id="gList" value=""> -->
                                            <button type="submit" id="openModal" class="gl-btn">add to grocery list</button>
                                        </form>
                                    </div>
                                    </div>                       
                                </div>
                            </div>

                    <% } %>
                    <% } else { %>
                        <span class="mp-empty"></span> 
                    <% } %>

                </div>
                <span class="mp-day">Tuesday</span>
                <!-- recipe card -->
                <div class="mp-slider owl-carousel">
                    <% if (trecId.length > 0) { %>
                        <% for( let index = 0; index < trecId.length; index++ ) { %>
                        <div class="mp-card">
                            <div class="card-cont">
                                <div class="mp-header">
                                    <div class="clear-icon">
                                        <a href="/mealPlan/delete/<%= trecId[index]%>" class="clear-mp"></a>
                                        <a href="/recipes/<%= trecId[index]%>">
                                        <img src="/images/<%= trecImage[index]%>" alt="<%= trecName[index] %> Image" class="box-img">
                                        </a>
                                    </div>
                                </div>

                                <div class="mp-details">
                                    <a href="/recipes/<%= trecId[index]%>" class="mp-usr">
                                        <div class="mp-one">
                                            <div class="mp-cont">
                                                <span class="mp-categ"><%= trecCateg[index] %></span>
                                                <p class="mp-name"><%= trecName[index] %></p>
                                                <% if (trecRate) { %>
                                                    <div class="mp-rate">
                                                        <% let rating = trecRate[index]/trecRateCount[index]; %> 
                                                        <% rating = Math.round(rating)%> 
                                                        <%= rating%>
                                                        <span class="mp-str"></span>
                                                    </div>
                                                <% } else { %>
                                                    <span class="mp-empty">This recipe hasn't been rated.</span>
                                                <% } %>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- add to grocery list button -->
                                    <div class="ing-gl-btn">
                                        <form action="/grocery-list" method="post">
                                            <input type="hidden" name="mealPlanRecId" value="<%= trecId[index] %>">
                                            <!-- <input type="hidden" name="gList" id="gList" value=""> -->
                                            <button type="submit" id="openModal" class="gl-btn">add to grocery list</button>
                                        </form>
                                    </div>
                                    </div>                       
                                </div>
                            </div>

                    <% } %>
                    <% } else { %>
                        <span class="mp-empty"></span> 
                    <% } %>

                </div>

                <span class="mp-day">Wednesday</span>
                <!-- recipe card -->
                <div class="mp-slider owl-carousel">
                    <% if (wrecId.length > 0) { %>
                        <% for( let index = 0; index < wrecId.length; index++ ) { %>
                        <div class="mp-card">
                            <div class="card-cont">
                                <div class="mp-header">
                                    <div class="clear-icon">
                                        <a href="/mealPlan/delete/<%= wrecId[index]%>" class="clear-mp"></a>
                                        <a href="/recipes/<%= wrecId[index]%>">
                                        <img src="/images/<%= wrecImage[index]%>" alt="<%= wrecName[index] %> Image" class="box-img">
                                        </a>
                                    </div>
                                </div>

                                <div class="mp-details">
                                    <a href="/recipes/<%= wrecId[index]%>" class="mp-usr">
                                        <div class="mp-one">
                                            <div class="mp-cont">
                                                <span class="mp-categ"><%= wrecCateg[index] %></span>
                                                <p class="mp-name"><%= wrecName[index] %></p>
                                                <% if (wrecRate) { %>
                                                    <div class="mp-rate">
                                                        <% let rating = wrecRate[index]/wrecRateCount[index]; %> 
                                                        <% rating = Math.round(rating)%> 
                                                        <%= rating%>
                                                        <span class="mp-str"></span>
                                                    </div>
                                                <% } else { %>
                                                    <span class="mp-empty">This recipe hasn't been rated.</span>
                                                <% } %>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- add to grocery list button -->
                                    <div class="ing-gl-btn">
                                        <form action="/grocery-list" method="post">
                                            <input type="hidden" name="mealPlanRecId" value="<%= wrecId[index] %>">
                                            <!-- <input type="hidden" name="gList" id="gList" value=""> -->
                                            <button type="submit" id="openModal" class="gl-btn">add to grocery list</button>
                                        </form>
                                    </div>
                                    </div>                       
                                </div>
                            </div>

                    <% } %>
                    <% } else { %>
                        <span class="mp-empty"></span> 
                    <% } %>

                </div>

                <span class="mp-day">Thursday</span>
                <!-- recipe card -->
                <div class="mp-slider owl-carousel">
                    <% if (threcId.length > 0) { %>
                        <% for( let index = 0; index < threcId.length; index++ ) { %>
                        <div class="mp-card">
                            <div class="card-cont">
                                <div class="mp-header">
                                    <div class="clear-icon">
                                        <a href="/mealPlan/delete/<%= threcId[index]%>" class="clear-mp"></a>
                                        <a href="/recipes/<%= threcId[index]%>">
                                        <img src="/images/<%= threcImage[index]%>" alt="<%= threcName[index] %> Image" class="box-img">
                                        </a>
                                    </div>
                                </div>

                                <div class="mp-details">
                                    <a href="/recipes/<%= threcId[index]%>" class="mp-usr">
                                        <div class="mp-one">
                                            <div class="mp-cont">
                                                <span class="mp-categ"><%= threcCateg[index] %></span>
                                                <p class="mp-name"><%= threcName[index] %></p>
                                                <% if (threcRate) { %>
                                                    <div class="mp-rate">
                                                        <% let rating = threcRate[index]/threcRateCount[index]; %> 
                                                        <% rating = Math.round(rating)%> 
                                                        <%= rating%>
                                                        <span class="mp-str"></span>
                                                    </div>
                                                <% } else { %>
                                                    <span class="mp-empty">This recipe hasn't been rated.</span>
                                                <% } %>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- add to grocery list button -->
                                    <div class="ing-gl-btn">
                                        <form action="/grocery-list" method="post">
                                            <input type="hidden" name="mealPlanRecId" value="<%= threcId[index] %>">
                                            <!-- <input type="hidden" name="gList" id="gList" value=""> -->
                                            <button type="submit" id="openModal" class="gl-btn">add to grocery list</button>
                                        </form>
                                    </div>
                                    </div>                       
                                </div>
                            </div>

                    <% } %>
                    <% } else { %>
                        <span class="mp-empty"></span> 
                    <% } %>

                </div>

                <span class="mp-day">Friday</span>
                <!-- recipe card -->
                <div class="mp-slider owl-carousel">
                    <% if (frecId.length > 0) { %>
                        <% for( let index = 0; index < frecId.length; index++ ) { %>
                        <div class="mp-card">
                            <div class="card-cont">
                                <div class="mp-header">
                                    <div class="clear-icon">
                                        <a href="/mealPlan/delete/<%= frecId[index]%>" class="clear-mp"></a>
                                        <a href="/recipes/<%= frecId[index]%>">
                                        <img src="/images/<%= frecImage[index]%>" alt="<%= frecName[index] %> Image" class="box-img">
                                        </a>
                                    </div>
                                </div>

                                <div class="mp-details">
                                    <a href="/recipes/<%= frecId[index]%>" class="mp-usr">
                                        <div class="mp-one">
                                            <div class="mp-cont">
                                                <span class="mp-categ"><%= frecCateg[index] %></span>
                                                <p class="mp-name"><%= frecName[index] %></p>
                                                <% if (frecRate) { %>
                                                    <div class="mp-rate">
                                                        <% let rating = frecRate[index]/frecRateCount[index]; %> 
                                                        <% rating = Math.round(rating)%> 
                                                        <%= rating%>
                                                        <span class="mp-str"></span>
                                                    </div>
                                                <% } else { %>
                                                    <span class="mp-empty">This recipe hasn't been rated.</span>
                                                <% } %>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- add to grocery list button -->
                                    <div class="ing-gl-btn">
                                        <form action="/grocery-list" method="post">
                                            <input type="hidden" name="mealPlanRecId" value="<%= frecId[index] %>">
                                            <!-- <input type="hidden" name="gList" id="gList" value=""> -->
                                            <button type="submit" id="openModal" class="gl-btn">add to grocery list</button>
                                        </form>
                                    </div>
                                    </div>                       
                                </div>
                            </div>

                    <% } %>
                    <% } else { %>
                        <span class="mp-empty"></span> 
                    <% } %>

                </div>

                <span class="mp-day">Saturday</span>
                <!-- recipe card -->
                <div class="mp-slider owl-carousel">
                    <% if (srecId.length > 0) { %>
                        <% for( let index = 0; index < srecId.length; index++ ) { %>
                        <div class="mp-card">
                            <div class="card-cont">
                                <div class="mp-header">
                                    <div class="clear-icon">
                                        <a href="/mealPlan/delete/<%= srecId[index]%>" class="clear-mp"></a>
                                        <a href="/recipes/<%= srecId[index]%>">
                                        <img src="/images/<%= srecImage[index]%>" alt="<%= srecName[index] %> Image" class="box-img">
                                        </a>
                                    </div>
                                </div>

                                <div class="mp-details">
                                    <a href="/recipes/<%= srecId[index]%>" class="mp-usr">
                                        <div class="mp-one">
                                            <div class="mp-cont">
                                                <span class="mp-categ"><%= srecCateg[index] %></span>
                                                <p class="mp-name"><%= srecName[index] %></p>
                                                <% if (srecRate) { %>
                                                    <div class="mp-rate">
                                                        <% let rating = srecRate[index]/srecRateCount[index]; %> 
                                                        <% rating = Math.round(rating)%> 
                                                        <%= rating%>
                                                        <span class="mp-str"></span>
                                                    </div>
                                                <% } else { %>
                                                    <span class="mp-empty">This recipe hasn't been rated.</span>
                                                <% } %>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- add to grocery list button -->
                                    <div class="ing-gl-btn">
                                        <form action="/grocery-list" method="post">
                                            <input type="hidden" name="mealPlanRecId" value="<%= srecId[index] %>">
                                            <!-- <input type="hidden" name="gList" id="gList" value=""> -->
                                            <button type="submit" id="openModal" class="gl-btn">add to grocery list</button>
                                        </form>
                                    </div>
                                    </div>                       
                                </div>
                            </div>

                    <% } %>
                    <% } else { %>
                        <span class="mp-empty"></span> 
                    <% } %>

                </div>

                <span class="mp-day">Sunday</span>
                <!-- recipe card -->
                <div class="mp-slider owl-carousel">
                    <% if (surecId.length > 0) { %>
                        <% for( let index = 0; index < surecId.length; index++ ) { %>
                        <div class="mp-card">
                            <div class="card-cont">
                                <div class="mp-header">
                                    <div class="clear-icon">
                                        <a href="/mealPlan/delete/<%= surecId[index]%>" class="clear-mp"></a>
                                        <a href="/recipes/<%= surecId[index]%>">
                                        <img src="/images/<%= surecImage[index]%>" alt="<%= surecName[index] %> Image" class="box-img">
                                        </a>
                                    </div>
                                </div>

                                <div class="mp-details">
                                    <a href="/recipes/<%= surecId[index]%>" class="mp-usr">
                                        <div class="mp-one">
                                            <div class="mp-cont">
                                                <span class="mp-categ"><%= surecCateg[index] %></span>
                                                <p class="mp-name"><%= surecName[index] %></p>
                                                <% if (surecRate) { %>
                                                    <div class="mp-rate">
                                                        <% let rating = surecRate[index]/surecRateCount[index]; %> 
                                                        <% rating = Math.round(rating)%> 
                                                        <%= rating%>
                                                        <span class="mp-str"></span>
                                                    </div>
                                                <% } else { %>
                                                    <span class="mp-empty">This recipe hasn't been rated.</span>
                                                <% } %>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- add to grocery list button -->
                                    <div class="ing-gl-btn">
                                        <form action="/grocery-list" method="post">
                                            <input type="hidden" name="mealPlanRecId" value="<%= surecId[index] %>">
                                            <!-- <input type="hidden" name="gList" id="gList" value=""> -->
                                            <button type="submit" id="openModal" class="gl-btn">add to grocery list</button>
                                        </form>
                                    </div>
                                    </div>                       
                                </div>
                            </div>

                    <% } %>
                    <% } else { %>
                        <span class="mp-empty"></span> 
                    <% } %>

                </div>
                
            </div>
        </div>  
    



    <!-- custom js file link  -->
    <script src="/public/js/script.js"></script> 
    <script>
        let searchModal = document.getElementById("search");
        let button = document.getElementById("searchBut");
        let cls = document.getElementsByClassName("close");

        //open the modal
        button.onclick = function() {
            searchModal.style.display = "block";
        }

        //close the modal
        cls.onclick = function() {
            // searchModal.style.display = "none";
            document.getElementsByClassName('userSearch').style.display = "none";
        }

        //close it
        window.onclick = function(event) {
        if (event.target == searchModal) {
            searchModal.style.display = "none";
        }
        }

        //for plus button in meal plan
        addfrom = document.querySelector('.addfrom');

        document.querySelector('#plus-btn').onclick = () =>{
            addfrom.classList.toggle('active');
            // navbar.classList.remove('active');
        }

        window.onscroll = () =>{
            addfrom.classList.remove('active');
        }

        //for slider
        $(".mp-slider").owlCarousel({
            nav: true,
            dots: false,
            mouseDrag: true,
            responsive: {
                360:{
                    items: 2
                },

                414:{
                    items: 2
                },
                
                540: {
                items: 2
                },

                768: {
                items: 3
                },

                820: {
                items: 4
                },

                912: {
                items: 4
                },

                1024: {
                items: 4
                },

                1400: {
                items: 3
                }
            }
        });

    </script>
</body>
</html>