<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo/logo-recipinoy.png" type="image/icon type">

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
 
    <!-- custom css file link  -->
    <link rel="stylesheet" href="/public/css/style.css">

        <!-- manifest link -->
    <link rel="manifest" href="/public/js/manifest.json">
    <!-- link apple icon -->
    <link rel="apple-touch-icon" href="/images/logo/icon-192x192.png">
    <!-- link theme -->
    <meta name="theme-color" content="#16be5c" />
    <!-- description to improve seo -->
    <meta name="description" content="ReciPinoy: Selected Filipino Cuisines Recommender Web Application">

    <title>Saved Recipes</title>
</head>
<body>
        <!-- loader -->
        <!-- <div class="loader">
            <img src="/images/loader.gif" alt="">
        </div> -->
   <!-- guest header -->
   <%- include('./partials/userNav'); %>
   <%#- include('./partials/guestNav'); %>

    <div class="userSaved">
        <a href="/" class="back-btn"><span class="rec-back">Home</span></a>

        <span class="saved-title">My Saved Recipes</span>
        <button type="button" class="userBtn"> <a href="/saved/create" class="a-btn">Create Recipe</a></button>&nbsp;

        <!-- border line -->
        <span class="saved-line"></span>

        <form action="/saved" method="post" class="saved-container">
            <!--<div id="sortResults">
                <select name="recent" id="recent" onchange="this.form.submit()">
                    <option value="" disabled selected>sort to newest</option>
                    <option value="newest">newest</option>
                    <option value="oldest">oldest</option>
                </select>-->
                    <% save.forEach( saved => { %>
                        <!-- <div class="saved-card"> -->
                            <div class="each-card">
                                <div class="img-clr">
                                    <a href="/saved/delete/<%= saved.rec_id %>" class="btnDel"></a>
                                    <img src="/images/<%= saved.rec_img%>" alt="<%= saved.rec_name %> Image" class="saved-img">
                                </div>

                                    <div class="details">
                                        <div class="saved-hdr">
                                            <!-- category -->
                                            <span class="saved-categ"><%= saved.rec_categ %></span>
                                            <!-- <div class="saved-buttons"> -->
                                                <a href="/saved/edit/<%= saved.rec_id %>" class="btnEdit"></a>
                                                <!-- <a href="/saved/delete/<%= saved.rec_id %>" class="btnDel"></a> -->
                                            <!-- </div> -->
                                        </div>

                                        <div class="food-title">
                                            <a href="/saved/<%= saved.rec_id%>"><%= saved.rec_name %></a>
                                        </div>
                                        <% if (saved.rec_rate) { %>
                                            
                                            <div class="saved-rate">
                                                <% let rating = saved.rec_rate/saved.rec_rateCount; %> 
                                                <% rating = Math.round(rating)%> 
                                                <%= rating%>
                                                <span class="str"></span>
                                            </div>
                                        <% } else { %>
                                                <span class="saved-rate">This recipe hasn't been rated.</span>
                                            <% } %>
                                            <!-- </div> -->
                                    </div>
                            </div>   
                        <!-- </div> -->
                    <% }) %>
        </form>
        </div>  
    </div> 


    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

    <!-- custom js file link  -->
    <script src="/public/js/script.js"></script>

        <!-- custom js file link  -->
        <script src="/public/js/script.js"></script> 
</body>
</html>